<!doctype html>
<html lang="en">
    <head>
        <title>Election Overview</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
    <body>
        <canvas id="myChart"></canvas>
        <script>

            const t1 = {
                label: 'Win and Tantan (' + <%=team1.length - 1%> + ' votes)',
                backgroundColor: 'rgba(234,134,161,0.8)',
                borderColor: 'rgb(240, 84, 128)',
                pointBorderColor: "rgb(240, 84, 128)",
                pointBackgroundColor: "#fff",
                fill: false,
                data: <%- JSON.stringify(team1) %>
            };

            const t2 = {
                label: 'Punnatt and Punlee (' + <%=team2.length - 1%> + ' votes)',
                backgroundColor: 'rgba(158,198,233,0.8)',
                borderColor: 'rgb(84, 161, 238)',
                pointBorderColor: "rgb(84, 161, 238)",
                pointBackgroundColor: "#fff",
                fill: false,
                data: <%- JSON.stringify(team2) %>
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [t1, t2]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'hour'
                            },
                            stacked: true
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    aspectRatio: 2,
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItems, data) {
                                if((tooltipItems[0].datasetIndex === 0
                                    && tooltipItems[0].index === <%=team1.length - 1%>)
                                    || (tooltipItems[0].datasetIndex === 1
                                        && tooltipItems[0].index === <%=team2.length - 1%>)) return "Latest"
                                else return "Time: " + new Date(tooltipItems[0].xLabel).toString().substr(0, 21)
                            },
                            label: function(tooltipItems, data) {
                                if(tooltipItems.datasetIndex === 0) {
                                    if(tooltipItems.index === <%=team1.length - 1%>) return ""
                                    else return "Win and Tantan: " + (tooltipItems.index + 1) + " votes"
                                } else {
                                    if(tooltipItems.index === <%=team2.length - 1%>) return ""
                                    else return "Punnatt and Punlee: " + (tooltipItems.index + 1) + " votes"
                                }
                            }
                        }
                    }
                }
            });
        </script>
    </body>
</html>